<p id="notice"><%= notice %></p>
<div id="pins" class="transition-enabled">
    <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        <%= link_to image_tag pin.image.url %>
        <div class="panel-body">
          <%= link_to pin.title, pin_path(pin) %>
          <hr>
          <p>submitted by<%= pin.user.email %></p>
        </div>
        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>
