<div class="col-md-6 col-md-offset-3">
  <div class="panel panel default">
    <div class="panel panel header">
      <h2>Log in</h2>
    </div>

    <div class="panel panel body">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.text_field :login %></p>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>
     </div>
     <div class="panel panel footer">
        <div class="actions">
          <%= f.submit "Log in" %><br>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
